.header {
  height: 10%;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__platform-name {
    font-size: 4rem;

    &--light-mode {
      @extend .header__platform-name;
      color: var(--main-font-color-light-mode);
    }

    &--dark-mode {
      @extend .header__platform-name;
      color: var(--main-font-color-dark-mode);
    }
  }

  &__mode-switcher {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    &__mode-label {
      font-size: 2rem;

      &--light-mode {
        @extend .header__mode-switcher__mode-label;
        color: var(--grey-color);
      }

      &--dark-mode {
        @extend .header__mode-switcher__mode-label;
        color: white;
      }
    }

    &__switch-button {
      height: 45%;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
