@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-size: 10px;
  --app-background-color-light-mode: #f6f8fe;
  --app-background-color-dark-mode: #131d2f;

  --grey-color: #6b7b92;

  --main-font-color-light-mode: black;
  --main-font-color-dark-mode: white;

  --building-blocks-background-color-light-mode: white;
  --building-blocks-background-color-dark-mode: #1f2a48;

  --placeholder-text-color: #a7a7bd;

  --box-shadow-light-mode: -2px -2px 10px 2px #e5e8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", Poppins, sans-serif;
}
